@import url('https://fonts.googleapis.com/css?family=Playpen+Sans|Satisfy&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E3C8A8;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    height: 70px;
}

.header-container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E2723;
}

.header {
    width: 1000px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Satisfy', Arial;
    color: #EDE1D4;
    font-weight: 100;
    max-width: 40%;
}

.pic {
    display: flex;
    align-items: center;
    font-size: 32px;
}

a {
    color: #EDE1D4;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logo img {
    width: 20%;
}

.menu {
    display: flex;
    flex-shrink: 0;
}

ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}



.chat-container {
    position: absolute;
    margin: auto;
    width: 900px;
    min-height: 450px;
    height: auto;
    background-color: #C5A688;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-box {
    height:450px;
    padding: 10px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.input-box {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

input[type="text"] {
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
    width: 100%;
    padding: 10px;
    border: 2px solid #3E2723;
    border-radius: 4px;
    margin-right: 10px;
}

button {
    box-sizing: border-box;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
    font-weight: bold;
    padding: 8px 20px;
    background-color: #3E2723;
    border: solid 3px;
    border-color: #3E2723;
    color: #EDE1D4;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

button:hover {
    box-sizing: border-box;
    background-color: #E3C8A8;
    color: #3E2723;

}

.user-message {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: #037C6E;
    padding: 10px;
    margin: 5px 0;
    margin-right: 20px;
    border-radius: 15px;
    max-width: 70%;
    min-width: 20%;
    word-wrap: break-word;
    align-self: flex-end;
}


.user-content {
    font-weight: bold;
    color: #EDE1D4;
}

.bot-message {
    display: flex;
    align-items: center;
    align-self: flex-start;
    max-width: 60%;
    gap: 8px;
    word-wrap: break-word;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
    padding: 10px;
    margin: 5px 0;
}

.bot-image {
    width: 60px;
    height: 60px;
    display: flex;
    flex-shrink: 0;
    background-color: #E3C8A8;
    border-radius: 50%;
    align-self: flex-start;
}

.bot-image img {
    object-fit: cover;
    border-radius: 50%;
}

.bot-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.bot-name,
.user-name {
    font-weight: bold;
    align-self: flex-start;
    font-size:20px;
    margin-left: 3px;
    color: #3E2723;
}

.bot-content {
    background-color: #e2e3e5;
    padding: 10px;
    border-radius: 15px;
    color: #3E2723
}

/* Fade-in effect for bot message */
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.footer {
    height: 50px;
    margin-top: auto;
    color: #EDE1D4;
    font-weight: 500;
    font-size: 14px;
}