@import url('https://fonts.googleapis.com/css?family=Playpen+Sans&display=swap');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #E3C8A8;
    transition: background-color 1s ease;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container,
.footer {
    height: 100px;
}

.header,
.content {
    max-width: 1200px;
}

.header-container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3E2723;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 32px;
    color: #EDE1D4;
    font-weight: 800;
}

a {
    font-size: 24px;
    color: #EDE1D4;
    text-decoration: none;
}

ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
    padding: 0;
}

.footer {
    margin-top: auto;
    color: #EDE1D4;
    font-weight: 500;
    font-size: 24px;
}

.content {
    height: 700 px;
    padding: 100px 0px;
    display: flex;
    align-self: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    color:#3E2723;
    font-weight: 500;
    gap: 50px;
}

.coffee {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    transition: transform 0.5s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.card:hover {
    transition: transform 0.5s ease;
    transform: scale(1.05);
}

.box {
    display:flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 300px;
    height: 250px;
    margin-bottom: 20px;
    flex-shrink: 0;
}

.box img {
    width: 90%;
    object-fit: cover;
    align-self: center;
    transition: opacity 0.3s ease;
}

.mocha img,
.espresso img {
    width: 100%;
}

.caption {
    font-size: 28px;
    font-weight: 800;
}

.subtext {
    font-size: 24px;
    font-weight: 500;
    align-self: center;
}

.cold-brew:hover,
.mocha:hover,
.espresso:hover {
    color: #EDE1D4;
}

.brew {
    font-family: 'Playpen Sans';
    box-sizing: border-box;
    border-radius: 40px;
    border: solid 5px;
    border-color: #3E2723;
    flex-shrink: 0;
    font-weight: bold;
    padding: 5px 50px;
    align-self: center;
    font-size: 36px;
    background: #3E2723;
    color: #EDE1D4;
    margin-top: 30px;
    transition: background-color 0.3s;
    
}

.brew:hover {
    cursor: pointer;
    background-color: #E3C8A8;
    color: #3E2723;
}