@import url('https://fonts.googleapis.com/css?family=Playpen+Sans|Satisfy&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E3C8A8;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    height: 70px;
}

.books-section,
.meditation-section,
.youtube-section,
.helpline-section {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.meditation-section {
    height: 500px;
}

.introduction,
.section {
    width: 980px;
    align-self: center;
    flex: display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E2723;
}

.header {
    width: 1000px;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Satisfy', Arial;
    color: #EDE1D4;
    font-weight: 100;
    max-width: 40%;
}

.pic {
    display: flex;
    align-items: center;
    font-size: 32px;
}

a {
    color: #EDE1D4;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.logo img {
    width: 20%;
}

.menu {
    display: flex;
    flex-shrink: 0;
}

ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 28px;
}

.heading-text {
    font-size: 18px;
}

.introduction {
    margin-bottom: 20px;
}

.books-section {
    background-color: #D3B58F;
}

.meditation-section {
    background-color: #C5A688;
}

.youtube-section {
    background-color: #A67B5B;
}

.helpline-section {
    background-color: #E3C8A8;
}

.section-heading {
    font-size: 24px;
    font-weight: 850;
    margin-bottom: 20px;
}

.section-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.books .section-cards,
.helpline .section-cards {
    gap: 30px;
}

.card {
    width: 220px;
    height: 300px;
    border-radius: 20px;
    border: 2px dotted #3E2723;
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.books .card,
.helpline .card {
    display: flex;
    flex-direction: row;
    width: 450px;
    height: 175px;
}

.books .card-text,
.helpline .card-text {
    display: flex;
    flex-direction: column;
    margin: 8px;
    gap: 3px;
}

.books .card-subtext,
.helpline .card-subtext {
    margin: 0px;
}

.card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 20px;
    height: 130px;
    display: flex;
    flex-shrink: 0;
}

.books .card-image {
    height: 175px;
    width: 135px;
    flex-shrink:0;
    object-fit: contain;
}

.books img,
.helpline img {
    max-width: 128px;
    max-height: 168px;
}

.meditation img,
.youtube img {
    width: 210px;
    height: 120px;
}

.atomic .card-image {
    width: 120%;
}

.happy .card-image {
    width: 90%;
}
.card-image img {
    object-fit: contain;
    size: 90%;
}

.helpline .card-image {
    height: 145px;
    width: 145px;
}

.card-title {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
}

.books .card-title,
.helpline .card-title {
    text-align: left;
}

.left-side {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}

.card-subtext {
    font-size: 14px;
    margin: 5px;
}

.youtube .card-link,
.meditation .card-link {
    margin-left: 5px;
}

.card-link {
    border-radius: 20px;
    align-self: flex-start;
    font-size: 14px;
}


p {
    margin: 0;
    padding: 0;
}

.card-link a,
.left-side a {
    font-size: 14px;
    color: #3E2723;
    text-decoration: underline;
}

.footer {
    height: 50px;
    margin-top: auto;
    color: #EDE1D4;
    font-weight: 500;
    font-size: 14px;
}