@import url('https://fonts.googleapis.com/css?family=Playpen+Sans|Satisfy&display=swap');

body {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #E3C8A8;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    height: 70px;
}

.header {
    width: 1000px;
    align-self: center;
}

.header-container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3E2723;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-shrink: 0;
}

.menu a {
    font-size: 20px;
}

ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.footer {
    height: 50px;
    margin-top: auto;
    color: #EDE1D4;
    font-weight: 500;
    font-size: 14px;
}