@import url('https://fonts.googleapis.com/css?family=Playpen+Sans|Satisfy&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E3C8A8;
    font-family: 'Playpen Sans', 'Times New Roman', Arial;
}

.header-container {
    height: 70px;
}

.header-container,
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3E2723;
}

.introduction,
.team-container,
.people-container {
    width: 980px;
    align-self: center;
    flex: display;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    width: 1000px;
    align-self: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 2px;
    font-family: 'Satisfy', Arial;
    font-size: 32px;
    color: #EDE1D4;
    font-weight: 100;
    max-width: 40%;
}

.pic {
    display: flex;
    align-items: center;
}

a {
    color: #EDE1D4;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.logo img {
    width: 20%;
}

.menu {
    display: flex;
    flex-shrink: 0;
}

.menu a {
    font-size: 20px;
}

ul {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    gap: 40px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.people-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    flex-wrap: wrap;
}

h2 {
    display: flex;
    flex-shrink: 0;
}

.person {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 450px;
    background-color: #C5A688;
    border: dotted 3px #3E2723;
}

.person-image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #3E2723;
    flex-shrink: 0;
}

.person-image img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.person-name a,
.person-task{
    font-size: 20px;
    font-weight: bold;
    color: #3E2723;
}

.person-task {
    font-size: 16px;
}

.actual-tasks {
    text-align: center;
    font-size: 14px;
    color: #3E2723;
}

.footer {
    height: 50px;
    margin-top: auto;
    color: #EDE1D4;
    font-weight: 500;
    font-size: 14px;
}