Flask==3.0.3
Flask-Cors==5.0.0
google-ai-generativelanguage==0.6.9
google-api-core==2.20.0
google-api-python-client==2.146.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-generativeai==0.8.1
google-pasta==0.2.0
googleapis-common-protos==1.65.0
grpcio==1.66.1
grpcio-status==1.66.1
httpx==0.27.0
requests==2.32.3
Werkzeug==3.0.3
gunicorn==23.0.0
Jinja2==3.1.4
python-dotenv==1.0.1
beautifulsoup4==4.12.3
jsonschema==4.22.0
